{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin|detail</title>
    <link rel="stylesheet" href="{% static "melody_static/vendors/iconfonts/font-awesome/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "melody_static/vendors/css/vendor.bundle.base.css" %}">
    <link rel="stylesheet" href="{% static "melody_static/vendors/css/vendor.bundle.addons.css" %}">
    <link rel="stylesheet" href="{% static "melody_static/css/style.css" %}">
    <link rel="shortcut icon" href="{% static 'dashboard_static/imgs/theme/favicon.svg' %}"/>
</head>

<body>

<div class="container-scroller">

    {% include 'Menu/dashbourd_top_menu.html' %}

    <div class="container-fluid page-body-wrapper">

        {% include 'Menu/dashbourd_theme.html' %}

        {% include 'Menu/dashbourd_left_menu.html' %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <a href="{% url 'detail_delete_all' %}"> <i class="fas fa-broom menu-icon">All clean</i></a>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{% trans 'Details' %}</h4>
                                <p class="card-description">

                                </p>
                                {% for rs in detail %}
                                    <form class="forms-sample">
                                        <div class="form-group">
                                            <div>
                                                <img src="{{ rs.image.url }}">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="exampleInputName1">{% trans 'Product' %}</label>
                                            <input type="text" value="{{ rs.product }}" disabled class="form-control"
                                                   id="exampleInputName1" placeholder="Product">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputName1">{% trans 'Size' %}</label>
                                            <input type="text" value="{{ rs.size }}" disabled class="form-control"
                                                   id="exampleInputName1" placeholder="Size">
                                        </div>

                                        <div class="form-group">
                                             <label for="exampleInputName1">{% trans 'Color' %}</label>
                                            <div style="background-color: {{ rs.collor }}; width: 20px; height: 20px;"></div>
                                        </div>


                                        <a href="{% url 'detail_edit' rs.id %}">
                                            <button type="button" class="btn btn-primary">{% trans 'Edit' %}</button>
                                        </a>
                                        <a href="{% url 'detail_delete' rs.id %}">
                                            <button type="button" class="btn btn-danger">{% trans 'Delete' %}</button>
                                        </a>
                                        <hr>
                                    </form>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    {% include 'Paginator/paginator.html' with page=detail %}
                </div>
            </footer>
            <!-- partial -->
        </div>
    </div>
</div>


<script src="{% static "melody_static/vendors/js/vendor.bundle.base.js" %}"></script>
<script src="{% static "melody_static/vendors/js/vendor.bundle.addons.js" %}"></script>
<script src="{% static "melody_static/js/off-canvas.js" %}"></script>
<script src="{% static "melody_static/js/hoverable-collapse.js" %}"></script>
<script src="{% static "melody_static/js/misc.js" %}"></script>
<script src="{% static "melody_static/js/settings.js" %}"></script>
<script src="{% static "melody_static/js/todolist.js" %}"></script>
<script src="{% static "melody_static/js/file-upload.js" %}"></script>
<script src="{% static "melody_static/js/typeahead.js" %}"></script>
<script src="{% static "melody_static/js/select2.js" %}"></script>

</body>

</html>