{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin|info</title>
    <link rel="stylesheet" href="{% static "melody_static/vendors/iconfonts/font-awesome/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "melody_static/vendors/css/vendor.bundle.base.css" %}">
    <link rel="stylesheet" href="{% static "melody_static/vendors/css/vendor.bundle.addons.css" %}">
    <link rel="stylesheet" href="{% static "melody_static/css/style.css" %}">
    <link rel="shortcut icon" href="{% static 'dashboard_static/imgs/theme/favicon.svg' %}"/>
</head>

<body>

<div class="container-scroller">

    {% include 'Menu/dashbourd_top_menu.html' %}

    <div class="container-fluid page-body-wrapper">

        {% include 'Menu/dashbourd_theme.html' %}

        {% include 'Menu/dashbourd_left_menu.html' %}

        <div class="main-panel">

            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="card-title">{% trans 'Informatsion' %}</h3>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <p class="card-description"></p>

                                <form class="forms-sample" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label>{% trans 'Title EN' %}</label>
                                        <input type="text" name="title_en" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Title RU' %}</label>
                                        <input type="text" name="title_ru" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Title UZ' %}</label>
                                        <input type="text" name="title_uz" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Country' %}</label>
                                        <input type="text" name="country" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'City' %}</label>
                                        <input type="text" name="city" class="form-control"
                                               required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Address EN' %}</label>
                                        <input type="text" name="address_en" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Address RU' %}</label>
                                        <input type="text" name="address_ru" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Address UZ' %}</label>
                                        <input type="text" name="address_uz" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Location' %}</label>
                                        <input type="text" name="location" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Phone' %}</label>
                                        <input type="tel" name="phone" class="form-control"
                                               required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Email' %}</label>
                                        <input type="email" name="email" class="form-control"
                                               required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Telegram' %}</label>
                                        <input type="text" name="telegram" class="form-control"
                                               placeholder="Nickname in Telegram ..." required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Instagram' %}</label>
                                        <input type="text" name="instagram" class="form-control"
                                               placeholder="Nickname in Instagram ..." required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Facebook' %}</label>
                                        <input type="text" name="facebook" class="form-control"
                                               placeholder="Nickname in Facebook ..." required>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Twitter' %}</label>
                                        <input type="text" name="twitter" class="form-control"
                                               placeholder="Nickname in Twitter ..." required>
                                    </div>


                                    <div class="form-group">
                                        <label>{% trans 'Description EN' %}</label>
                                        <textarea name="description_en" class="form-control" rows="4"
                                                  required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Description RU' %}</label>
                                        <textarea name="description_ru" class="form-control" rows="4"
                                                  required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>{% trans 'Description UZ' %}</label>
                                        <textarea name="description_uz" class="form-control" rows="4"
                                                  required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" name="status">
                                            <option
                                                    {{ form.status }}></option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">{% trans 'Submit' %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static "melody_static/vendors/js/vendor.bundle.base.js" %}"></script>
<script src="{% static "melody_static/vendors/js/vendor.bundle.addons.js" %}"></script>
<script src="{% static "melody_static/js/off-canvas.js" %}"></script>
<script src="{% static "melody_static/js/hoverable-collapse.js" %}"></script>
<script src="{% static "melody_static/js/misc.js" %}"></script>
<script src="{% static "melody_static/js/settings.js" %}"></script>
<script src="{% static "melody_static/js/todolist.js" %}"></script>
<script src="{% static "melody_static/js/file-upload.js" %}"></script>
<script src="{% static "melody_static/js/typeahead.js" %}"></script>
<script src="{% static "melody_static/js/select2.js" %}"></script>

</body>

</html>